header {
    flex: 1;
    background-color: var(--header-color, #FF9E5E );
    color: white;
    padding: 20px;
    font-size: 30px;
    font-family: 'Open Sans';
}

.links{
    display: flex;
    justify-content: space-around;

    .menu-item {

        .sub-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: var(--header-color #FF9E5E);
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        }

    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .links {
        font-size: 20px;
        flex-wrap: wrap;

        * {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 340px) {
    .links {
        font-size: 14px;
    }
}