footer {
  flex: none;
  background-color: var(--header-color,  #3FEEE6);
  color: white;
  padding: 10px;
  font-size: 15px;
}
.container {
  display: flex;
  flex-direction: row;
}
.column {
  width: 50%;
}
.contact-details {
  display: flex;
  padding-left: 100px;
  flex-direction: row;
  
}
.gmail-icon {
  width: 80px;
  margin: 20px;
}
.contact-icon {
    width: 80px;
    margin: 20px;
  }
.linkedin-icon {
  width: 80px;
  margin: 20px;
}
.github1-icon {
  width: 80px;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact-details {
    flex-direction:row;
  }
}