footer {
    flex: none;
    background-color: rgb(127, 127, 243);
    color: white;
    padding: 10px;
    font-size: 15px;
}
.container {
    display: flex;
    flex-direction: row;
  }
  .column{
   width: 50%;
  }