<footer class="container">
    <div class="links">
        <ul >
            <li><a href="">Home</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
    </div>
    <div class="contact-details">
        Useful informations
        <a href= "tel:+254-758-844-241"target="_blank">
            <img class="contact-icon" src="/assets/images//phone.png">
        </a><br>
        <a href= " https://accounts.google.com/SignOutOptions?hl=en&continue=https://www.google.com/search%3Fq%3Dhow%2Bto%2Bcopy%2Bemail%2Baddress%2Blink%26oq%3Dhow%2Bto%2Bcopy%2Bemail%2Baddress%2Blink%26aqs%3Dchrome..69i57j0i20i263l2j0l7.27153j0j7%26sourceid%3Dchrome%26ie%3DUTF-8"target="_blank">
            <img class="gmail-icon" src="/assets/images/gmail.png">
        </a><br>
        <a href= " www.linkedin.com/in/barbra-mootian-03132b1a8"target="_blank">
            <img class="linkedin-icon"  src="/assets/images/linkedin.png">
        </a><br>
        <a href= "https://github.com/barbramootian/barbramootian.github.io.git"target="_blank">
            <img class="github1-icon"  src="/assets/images/github1.svg">
        </a><br>
       
    </div>
  
</footer>