.projects {
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
}
.project {
  width: 100%;
  min-width: 400px;
  h1 {
      font-size: 32px;
  }
}
.description {
  display: flex;
  flex-direction: row;

  img {
    height: 200px;
    width: 100%;
  }

  ul {
    flex-grow: 1;
    font-size: 24px;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .description {
    flex-direction: column;
  }
}
