
<p> I feel privileged to have been a part of the creation of the 
    Parenting App, Covid 19 website and Covid 19 App. </p>
<section class="projects">
    <section class="project">
        <h1>Parenting App </h1>
        <div class="description">
            <img src="/assets/images/plh_image.jpg">
            <ul>
             <li> Lyric timing for the songs-like the Zum Gali Gali song and Instructions did the lyric timing.</li>
                <li> Illustrated stories-crop the image for illustrated story and arranged them according to the picture
                    flows.</li>
                <li>Take a pause screen- did animations for figma and use some CSS to animate the blob (Take a pause)
                </li>
                <li> Video editing with Open shot for the PLH</li>
                <li>Subtitling with Camtasia for the PLH</li>
            </ul>
        </div>
    </section>
    <section class="project">
        <h1>Covid 19 Parenting Website</h1>
        <div class="description">
            <img src="/assets/images/Covid 19 Parenting.jpg">
            <ul>
                <li>Organised the PDF’s in different languages according to the alphabetical order (A-Z) </li>
                <li>Proofreading and testing comparing Angular site to Wix website</li>
            </ul>
        </div>
    </section>
    <section class="project">
        <h1>Covid 19 Parenting App</h1>
        <div class="description">
            <img src="/assets/images/Covid 19 app1.jpg">
        <ul>
            <li> the HTML for the tip sheets for the app</li>
            <li>Proofreading and testing the app to see if the is bug when using the app</li>
        </ul>
</div>
</section>