.projects {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .project {
    width: 400px;
    height: 200px;
    border: 2px solid indigo;
   justify-content: space-between;
   margin: 20px; 
    font-size: 13px;
    
  }