<div class="container">
    <section class="left-column">
        <h1>Work with me</h1>
        <p>If you would like to keep in touch, I will be thankful if you could spend a
            moment to leave a message. </p>
        <img src="/assets/images//fionaw.png" alt="fiona" class="my-picture">
    </section>
    <form class="right-column" action="https://mailthis.to/bmootian@gmail.com" method="POST">
        <div class="name-inputs">
            <div class="name-input">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname" placeholder="Your First Name"><br>
            </div>
            <div class="name-input">
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" placeholder="Your Last Name"><br>
            </div>
        </div>
        <label for="_replyto">Your Email:</label><br>
        <input type="email" name="_replyto" placeholder="Your email"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="8" width="100%"
            placeholder="Write your message to Barbra"></textarea>
        <br>
        <input type="submit" value="Send Message">
        <p>Be sure to leave your email address if you want me to get back to you</p>
    </form>
</div>