<h3>Contact Form</h3>
<form>
<div class="container">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="Barbra"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Mootian"><br><br>
    <label for="lname">Email Adress:</label><br>
    <input type="text" id="lname" name="lname" value="bmootian@gmail.com"><br><br>
    <label for="lname">Github Account:</label><br>
    <input type="text" id="lname" name="lname" value="barbramootian"><br><br>
    <label for="lname">Phone Number:</label><br>
    <input type="text" id="lname" name="lname" value="0758844241"><br><br>
    </div>
       
        Comment:<br>
        <input type="text" name="comment" size="50"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
        </form>
