.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-family:Arsenal ;
  
}

.left-column {
  flex: 1;

  * {
    margin: 20px;
  }
  img {
    width: 150px;
  }
  background-color: #EFEFEF;
}

form {
  flex: 2;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  background-color:#EFEFEF;
  
  input, textarea {
    border-radius: 20px;
    width: 100%;
    
  }

  .name-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
}
.name-input {
  width: 45%;
}

.contact-icon {
  width: 40px;
  margin: 20px;
}
.contact-details {
  flex: 1;
  padding-left: 50px;
  background-color: #b8b8f5;
}
.gmail-icon {
  width: 40px;
  margin: 20px;
}
.linkedin-icon {
  width: 40px;
  margin: 20px;
}
.github1-icon {
  width: 40px;
  margin: 20px;
}

.my-picture{
  width: 30%;

}
