.container {
  position: relative;
}

.progress-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 100%;
  background-color: blue;
  opacity: 0.6;
}
.progress-fg {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 70%;
  background-color: blue;
}
