.skill-cards {
    display: flex;
}

.skill-card {
    width: 400px;
    height: 200px;
    border: 1px solid grey;
    header {
        display: flex;
        h2 {
            flex-grow: 1;
        }
        .icon {
            width: 50px;
        }
    }
}
