<p>Working as an Intern at IDEMS for one year I was able to achieve different skill in programming</p>
<h1>Skill that I gained are the following</h1>
<p>Learn HTML(Hyper text makeup language) <li> Where am able to write html script and structure a web document which helps in describing the web document things like headlines, paragraphs and allowing you to fix
images, video, and other media</li></p>
<p>Learn CSS (cascading style sheet)<li>It help in styling the document’s style—page layouts, colors, and fonts, also brings style to your web page by linking with HTML elements </li></p>