<html>

<head>
</head>

<body>
    <p>Working as an Intern at IDEMS for one year I was able to achieve different skill in programming</p>
    <h1>Skill that I gained are the following</h1>
    <section class="skill-cards">
        <section class="skill-card html">
            <header>
                <h2>HTML 70%</h2>
                <img class="icon" src="assets/images/skills/html.svg">
            </header>
            <div class="progress-bar"></div>
            <p>Stuff about HTML</p>
        </section>
        <section class="skill-card css">
            <header>
                <h2>CSS 50%</h2>
                <img class="icon" src="assets/images/skills/css.svg">
            </header>
            <div class="progress-bar"></div>
            <p>Stuff about CSS</p>
        </section>
        <section class="skill-card css">
            <header>
                <h2>CSS 50%</h2>
                <img class="icon" src="assets/images/skills/css.svg">
            </header>
            <div class="progress-bar"></div>
            <p>Stuff about CSS</p>
        </section>
    </section>
    <p>Learn HTML(Hyper text makeup language)(70%)
        <li> Where am able to write html script and structure a web document which
            helps in describing the web document things like headlines, paragraphs and allowing you to fix
            images, video, and other media</li>
    </p>
    <p>Learn CSS (cascading style sheet)(50%)
        <li>It help in styling the document’s style—page layouts, colors, and fonts, also brings style to your web page
            by
            linking with HTML elements </li>
    </p>
    <p>Learn Git and Github(50%)
<li>Git help control systems that lets you manage and keep track of your source code history, where Github
    it lets you and others work together on projects from anywhere hosting platform online
</li>
    </p>
<p>Learn different programming skills(50%)
    <li>Knowing to use scratch has help in thinking critical and also aid work collaboratively in making different 
scratch animations
    </li>
</p>

</body>

</html>