<p id="skills">Working as an Intern at IDEMS for one year I was able to achieve different skill in programming</p>
<h1>Skill that I gained are the following</h1>
<section class="skill-cards">
    <section class="skill-card html">
        <header>
            <h2>HTML 70%</h2>
            <img class="icon" src="assets/images/skills/html.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'70%'" [color]="'orange'"></app-progress-bar>
        </div>
        <p>HTML(Hyper text makeup language)_
            Where am able to write html script and structure a web document which
            helps in describing the web document things like headlines, paragraphs and allowing you to fix
            images and other media</p>
    </section>
    <section class="skill-card css">
        <header>
            <h2>CSS 50%</h2>
            <img class="icon" src="/assets/images/skills/css.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'50%'" [color]="'blue'"></app-progress-bar>
        </div>
        <p>CSS (cascading style sheet)_
            It help in styling the document’s style—page layouts, colors, and fonts, also brings style to your web page
            by
            linking with HTML elements</p>
    </section>
    <section class="skill-card javascript">
        <header>
            <h2>JAVASCRIPT 30%</h2>
            <img class="icon" src="assets/images/skills/javascript.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'50%'" [color]="'yellow'"></app-progress-bar>
        </div>
        <p> Javascript_
            It is a programming language that I have been using as a server-side that allows you to make web pages
            interactive,
            Where HTML and CSS are languages that give structure and style to web pages
        </p>
    </section>
    <section class="skill-card angular">
        <header>
            <h2>ANGULAR 30%</h2>
            <img class="icon" src="assets/images/skills/angular.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'30%'" [color]="'red'"></app-progress-bar>
        </div>
        <p> Angular_
            is a platform and framework for building single-page client applications using HTML and TypeScript,
            it help extend HTML's syntax to express your application's components clearly and succinctly
        </p>
    </section>
    <section class="skill-card github">
        <header>
            <h2>GITHUB 50%</h2>
            <img class="icon" src="assets/images/skills/github.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'50%'" [color]="'black'"></app-progress-bar>
        </div>
        <p> Github
           is where Github  lets you and others work together on projects from anywhere hosting platform online 
           My Github account is 
        <a href="https://github.com/barbramootian">"https://github.com/barbramootian"</a>
        </p>
    </section>
    <section class="skill-card animations">
        <header>
            <h2>ANIMATION 50%</h2>
            <img class="icon" src="assets/images/skills/animation.svg">
        </header>
        <div class="progress-bar">
            <app-progress-bar [progress]="'50%'" [color]="'black'"></app-progress-bar>
        </div>
        <p> Animations_
            Knowing to use scratch has help me in thinking critical and also aid work collaboratively in making
            different
            scratch animations and also work in animation using Figma to animate
        </p>
    </section>
    <section>
        <h2 id="projects">Projects</h2>
        <h4>Having learn different skill in programming, I was involved in some different project
            that has help in building my skills
        </h4>
        <p>Doing different projects has help me in building different programming languages,
         am able to write some Html,Css and also some of Angular and Javascript
        </p>
    </section>
</section>
<h2 id="certificates">Certificates</h2>
<h3>Apart from gaining different skill in Programming I was able to interact with online course
    in IBM where I achieved different skill and got some Certificate
</h3>
<section class="certificates">
    <a class="certificate" href="assets/pdf/certificates/HTML___CSS_Badge20200512-41-b9bn7f.pdf">
        <h4>Html and Css</h4>
        <img src="assets/images/certificates/html and css.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Artificial_Intelligence_Intro_Badge20200522-58-16gyodz.pdf">
        <h4>Artificial Intelligence</h4>
        <img src="assets/images/certificates/artificial_intelligence_intro.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Blockchain_Intro_Badge20200516-58-1wozl4e.pdf">
        <h4>Blockchain_Intro_Badge</h4>
        <img src="assets/images/certificates/Blockchain_Intro.jpg">
    </a>
    <a class="certificate"
        href="assets/pdf/certificates/Build_your_Car_Auction_Application_on_Blockchain_Badge20200522-52-1ebem32.pdf">
        <h4>Build_your_Car_Auction_Application_on_Blockchain</h4>
        <img src="assets/images/certificates/Build_your_Car_Auction_Application_on_Blockchain.jpg">
    </a>
    <a class="certificate"
        href="assets/pdf/certificates/Build_your_Voting_Application_using_Blockchain_Badge20200520-55-1c1l465.pdf">
        <h4>Build_your_Voting_Application_using_Blockchain</h4>
        <img src="assets/images/certificates/Build_your_Voting_Application_using_Blockchain.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Cloud_Intro_Badge20200516-41-9ys0ks.pdf">
        <h4>Cloud_Intro</h4>
        <img src="assets/images/certificates/Cloud_Intro.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Coding_Intro_Badge20200512-58-o6i1l5.pdf">
        <h4>Coding_Intro</h4>
        <img src="assets/images/certificates/Coding_Intro.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Course Completion Certificate.pdf">
        <h4>Course Completion Certificate</h4>
        <img src="assets/images/certificates/Course Completion Certificate.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Create_Your_Own_Web_Page_Badge20200512-41-guduel.pdf">
        <h4>Create_Your_Own_Web_Page</h4>
        <img src="assets/images/certificates/Create_Your_Own_Web_Page.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Cybersecurity_Intro_Badge20200516-58-16gjckl.pdf">
        <h4>Cybersecurity</h4>
        <img src="assets/images/certificates/Cybersecurity_Intro.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Data_Science___Analytics_Intro_Badge20200517-58-1dygr9k.pdf">
        <h4>Data_Science___Analytics_Intro</h4>
        <img src="assets/images/certificates/Data_Science___Analytics_Intro.jpg">
    </a>
    <a class="certificate"
        href="assets/pdf/certificates/Identify_Potential_Repeat_Customers_for_Your_Business_Badge20200610-41-1aha5.pdf">
        <h4>Identify_Potential_Repeat_Customers_for_Your_Business</h4>
        <img src="assets/images/certificates/Identify_Potential_Repeat_Customers_for_Your_Business.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Internet_of_Things_Intro_Badge20200517-41-19f3vxz.pdf">
        <h4>Internet_of_Things_Intro</h4>
        <img src="assets/images/certificates/Internet_of_Things_Intro.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/JavaScript_Badge20200512-41-h6ja02.pdf">
        <h4>JavaScript</h4>
        <img src="assets/images/certificates/JavaScript.jpg">
    </a>
    <a class="certificate" href="assets/pdf/certificates/Quantum_Computing_Intro_Badge20200516-41-1b2sx5f.pdf">
        <h4>Quantum_Computing_Intro</h4>
        <img src="assets/images/certificates/Quantum_Computing_Intro.jpg">
    </a>
</section>