.skill-cards {
    display: flex;
    flex-wrap: wrap;
}

.skill-card {
    width: 400px;
    height: 200px;
    border: 1px solid rgb(131, 45, 230);
    margin: 10px;
    header {
        display: flex;
        h2 {
            flex-grow: 1;
        }
        .icon {
            width: 50px;
        } 
        } 
    }
