
.container {
   display: flex;
   flex-direction: row;
}
.column{
  width: 50%;

}
.my-picture{
  width: 100%;
}
.circle{
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50px;
}